<div class="container">
    <div class="column m20">
        <!-- Types of progress bar -->
        <div class="row m20">
            <mat-progress-bar value="40"></mat-progress-bar>
        </div>
        <div class="row m20">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row m20">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
        <div class="row m20">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
        <!-- with color -->
        <div class="row m20">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
        <div class="row m20">
            <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
        </div>
        <div class="row m20">
            <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
        </div>
        <!-- based on value determinate -->
        <div class="row m20">
            <mat-progress-bar value="40" bufferValue="60" color="accent" mode="buffer"></mat-progress-bar>
        </div>
    </div>
</div>