<div class="container">
    <div style="width: 100vh;">
        <!-- types of mat-divider -->

         <!-- horizontal -->
        <!-- <mat-list>
            <mat-list-item>One</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Two</mat-list-item>
            <mat-divider inset='true'></mat-divider>
            <mat-list-item>Three</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list> -->

        <!-- vertical -->
         <div class="row">
            <span class="p10 m10">hi</span>
            <mat-divider vertical style="height: 50px;"></mat-divider>
            <span class="p10 m10">hello</span>
         </div>
    </div>


</div>