<!-- Variants -->
<div class="variants">
    <button mat-button>Hello World</button>
    <button mat-raised-button>Click me!</button>
    <button mat-flat-button>Click me!</button>
    <button mat-stroked-button>Click me!</button>
</div>
 
<!-- Icon type button -->
<div class="circular">
    <button mat-icon-button><mat-icon>more_vert</mat-icon> </button>
    <button mat-fab>Icon</button>
    <button mat-mini-fab> <mat-icon>home</mat-icon></button>
    <button mat-fab extended> <mat-icon>home</mat-icon>Home</button>
</div>

<!-- different button with color -->
<div class="btnColor">
    <button mat-stroked-button color="primary">Hello World</button>
    <button mat-flat-button color="accent">Hello World</button>
    <button mat-stroked-button disableRipple color="warn">Hello World</button>
</div>

<!-- button features and attributes-->
<div class="btnColor">    
    <button mat-stroked-button disableRipple color="warn">Hello World</button>
    <button mat-stroked-button disabled color="warn">Hello World</button>
    <button mat-stroked-button matTooltip="button hover label" >Hello World</button>
</div>