<!-- cols (no of columns in each row) gutterSize (space between each gridTile)  rowHeight (height of each gridTile)-->
<!-- <mat-grid-list cols="4" gutterSize="100px" rowHeight="200px"> -->
<!-- <mat-grid-list cols="4" gutterSize="100px" rowHeight="4:3"> -->
<mat-grid-list cols="2"  rowHeight="fit" style="height: 500px;" gutterSize="25px" >
<!-- colspan (no of horizontal gridTile include)  rowspan (no of vertical gridTile include)-->
<mat-grid-tile colspan="2" rowspan="2" >Tile 1</mat-grid-tile>
<mat-grid-tile>Tile 2</mat-grid-tile>
<mat-grid-tile>Tile 3</mat-grid-tile>
<mat-grid-tile>Tile 4</mat-grid-tile>
<mat-grid-tile>Tile 5</mat-grid-tile>
<mat-grid-tile>Tile 6</mat-grid-tile>
<mat-grid-tile>Tile 7</mat-grid-tile>
</mat-grid-list>
