<div class="outerContainer">
    <!-- simple matTooltip with message only -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" >Click</button>
    </div>

    <!-- simple matTooltip with disabled message -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" matTooltipDisabled >Click</button>
    </div>

    <!-- simple matTooltip with position attribute -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" matTooltipPosition="left" >Click</button> <!--  option for matTooltipPostion are after | before | top | below | left | right -->
    </div>

    <!-- simple matTooltip with showdelay to void unneccessary movements  -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" matTooltipShowDelay="1000" >Click</button> 
    </div>

    <!-- simple matTooltip with  hidedelay -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" matTooltipHideDelay="1000" >Click</button> 
    </div>

    <!-- simple matTootip with class to modify input -->
    <div class="textCenter m10">
        <button mat-stroked-button matTooltip="Click!" matTooltipClass="uppercase" >Click</button> 
    </div>
</div>
