.outerContainer{
    /* margin: 10px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }
    
    .textCenter{
        text-align: center;
    }

    .uppercase{
        text-transform: uppercase;       
    }
   