<div class="container m10">
    <div class="row">
        <!-- simple mat icon -->
        <mat-icon>home</mat-icon>
        <!-- mat icon with color -->
        <mat-icon color="accent">upload</mat-icon>
        <!-- adding svg icon from google font no color customization -->
        <mat-icon svgIcon="heart"  aria-label="Example thumbs up SVG icon" color="primary"></mat-icon>
        <!-- adding svg icon from uxwing with color customization -->
        <mat-icon svgIcon="heartThin"  aria-label="Example thumbs up SVG icon" color="primary"></mat-icon>
        <!-- adding svg icon from angular example with color customization -->
        <mat-icon svgIcon="thumb-up" aria-label="Example thumbs up SVG icon" color="accent" ></mat-icon>
    </div>
</div>