/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
}

.m10{
    margin: 10px;
}

.p10{
    padding:10px
}

.withBorder{
    border:2px solid black;
}